.button {
  /* margin-top: 2em; */
  padding: 1em 1em;
  border-radius: 0.5em;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  /* box-shadow: 5px 5px 10px var(--secondary-color); */
  width: fit-content;
  /* font-weight: 700; */
  font-size: 16px;
}

.primary {
  background-color: var(--black);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-color);
  /* color: var(--black); */
}

.secondary {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}
