.button {
  margin-top: 25px;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 10px var(--secondary-color);
  transition: transform 0.2s; /* Animation */
}

.button:hover {
  transform: scale(1.01);
  font-size: 15px;
}

.primary {
  background-color: var(--black);
  color: var(--white);
}
