.container {
  background-color: var(--secondary-color);
  margin-top: 7vh;
  text-align: center;
  padding: 20px;
}

.block__container {
  margin: 35px auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.block__container img {
  width: 25%;
  margin-bottom: 15px;
}

.block {
  border: 2px solid var(--primary-color);
  min-width: 200px;
  width: 30%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 2px 0 5px var(--primary-color);
  text-align: justify;
}

.block ul li {
  margin: 1rem;
}
