.container {
  background-color: var(--secondary-color);
  margin: 10vh auto;
  text-align: center;
  padding: 20px;
}

.block__container {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 80vw;
}

.block__container img {
  display: none;
}

.block {
  border: 2px solid var(--primary-color);
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 2px 0 5px var(--primary-color);
  /* text-align: justify; */
  margin-bottom: 2em;
}

.block ul li {
  margin: 1rem;
}

@media screen and (min-width: 500px) {
  .block__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .block {
    width: 48%;
  }
}

@media screen and (min-width: 786px) {
  .block__container {
  }

  .block__container img {
    display: block;
    width: 30%;
    max-height: 350px;
    border-radius: 1em;
  }

  .block {
    width: 30%;
  }
}

/* @media screen and (min-width: 1000px) {
  .block {
    width: 30%;
  }
} */
