.container {
  width: 75vw;
  margin: 25px auto;
  padding: 12px;
  display: flex;
}

.container h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1em;
  padding: 50px 0;
}

.container p {
  width: 85%;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.container img {
  border-radius: 20px;
  box-shadow: 5px 5px 25px rgb(124, 103, 241);
}

.container img:hover {
  /* scale: 1.02; */
  cursor: none;
  transform: scale(1.02);
}

.right {
  min-width: 250px;
}
