.container {
  margin: 10vh 0;
  text-align: center;
  padding: 20px;
}

.container__color {
  background-color: var(--secondary-color);
}

.card__container {
  margin: auto;
  margin-bottom: 4em;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  /* min-width: 200px; */
  width: 100%;
  margin-top: 3em;
  border-radius: 1rem;
  box-shadow: 2px 3px 12px var(--primary-color);
  padding: 20px 10px;
}

.card:hover {
  scale: 1.05;
  cursor: pointer;
}

.card img {
  width: 80%;
  margin-bottom: 15px;
  border-radius: 1em;
}

.card p {
  margin: 1em auto;
  text-align: justify;
  width: 75%;
}

.input {
  width: 75vw;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  padding: 15px;
}

#mail {
  width: 50vw;
  margin: 0 auto;
  margin-top: 1em;
}

.person img {
  width: 40%;
  background-color: var(--primary-color);
  padding: 0.2em;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .card__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 30%;
    border-radius: 1rem;
    box-shadow: 2px 3px 12px var(--primary-color);
    padding: 20px 10px;
  }
}

@media screen and (min-width: 1000px) {
  .input {
    width: 50vw;
  }
}
