@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Open+Sans&family=Playfair+Display:wght@600&display=swap");
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; 
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(38, 22, 129);
  --secondary-color: #f0f0f8;
  --white: #fdfdfd;
  --form: rgb(112, 90, 233);
  --black: #2b0849;
  --green: rgb(7, 128, 7);
  --red: rgb(128, 7, 7);
  --orange: rgb(238, 196, 9);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  color: var(--black);
  overflow-x: hidden;
}

strong {
  color: var(--black);
  font-weight: bolder;
}

h2 {
  font-family: "Playfair Display", serif;
}

hr {
  margin: 0 auto;
  margin-top: 5px;
  width: 7rem;
  height: 2px;
}
